# node
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# python
__pycache__/
*.py[cod]
*$py.class

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# vscode
.vscode/
settings.json